.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

@media all and (min-width: 1800px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }


}

.Navigate {
  background: #FFBF00;
  font-family: 'Gugi', cursive;
  position: sticky;
  top:0;

}

.Navspace {
  margin-left: 30rem;
  margin-right: 30rem;
}

.Menu {
  font-family: Arial, Helvetica, sans-serif;
}

.main-bg {
  height: 500px;
  background-image: url('./img/raccoon_cover.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.col-md-4 {
  padding-top: 2rem;
}

.product-name {
  padding-top: 0.5rem;
}

.footer {
  background: #FFBF00;
}

.footer p {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
